<%= form_for(@todo_item) do |f| %>
  <% if @todo_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@todo_item.errors.count, "error") %> prohibited this todo_item from being saved:</h2>

      <ul>
      <% @todo_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <% if f.object.persisted? %>
    <div class="field">
      <%= f.label :state %><br />
      <%= f.select :state, TodoItem.available_states %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :project %><br />
    <%= f.collection_select :project_id, f.object.available_projects, :id, :name, :include_blank => true %>
    <p>Missing project? Create <%= link_to 'new one', new_project_path %></p>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
