<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @todo_item.title %>
</p>

<p>
  <b>State:</b>
  <%= @todo_item.state %>
</p>

<p>
  <b>Project:</b>
  <%= @todo_item.project %>
</p>


<%= link_to 'Edit', edit_todo_item_path(@todo_item) %> |
<%= link_to 'Back', todo_items_path %>
